﻿body {
    margin: 0!important;
}

.w {
    width: 1200px;
}

div[data-title="登录窗体"] {
    width: 380px!important;
}


/* 密码找回 */

div[data-title="我记得"] {
    position: absolute!important;
    top: 0px!important;
    left: 50%!important;
    transform: translateX(-50%)!important;
    width: 100%!important;
}

.by-radiobutton {
    margin-left: 30px!important;
}

div[data-title="用户名/手机号/邮箱"] {
    margin-top: 20px!important;
}

div[data-title="用户名/手机号/邮箱"] input {
    width: 310px!important;
}

div[data-title="重设密码找回窗体"] {
    width: 380px!important;
    height: 360px!important;
    z-index: 21!important;
    position: absolute!important;
    left: 789px!important;
    top: 165px!important;
}


/* div[data-title="发送验证码"] {
    background: none!important;
} */

div[data-title="发送验证码"] button {
    border-radius: 2px;
    background: #0B7DFF!important;
}

div[data-title="发送验证码"] span {
    color: #fff!important;
}

.general-field-template-label:hover {
    background: #F2F4F8!important;
}

.label-visual .image-visual {
    width: 20px!important;
    opacity: 0.6;
}

div[data-title="表单名称面板"] {
    font-weight: 600!important;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd!important;
}

.form-name-valueLabel {
    border-bottom: 2px solid #0865FF!important;
}

div[data-title="模板列"] {
    width: 14%!important;
    overflow-x: hidden;
    border: 1px solid #eaedf4;
    float: left;
}

div[data-title="中间的整个面板"] {
    background: #f5f5f5;
    width: 60%;
    float: left;
    height: 100% !important;
}


/* div[data-title="字段"] {
    width: 54%!important;
    background: #F3F4F7;
    border: none;
} */

div[data-title="明细数据"] {
    width: 36% !important;
    border: none;
    /* float: left; */
    height: 100% !important;
}

.draggable {
    box-shadow: 0px 0px 8px rgb(132 131 131 / 30%);
    border: none !important;
    background: #fff;
}

.by-label {
    display: inline-block;
    box-shadow: none;
}

.label-visual span[data-by-type="LabelVisual"] {
    font-weight: bold;
}

.by-panel {
    border: none!important;
}

.by-panel .container-visual {
    height: max-content;
    width: 100%;
    border: none;
    padding: 5px 5px 0 5px;
}

.general-detail-saveButton {
    background: rgb(69 149 255)!important;
    color: #fff;
    margin: 0 10px;
    border-radius: 2px;
}

.general-field-deleteButton,
.general-detail-selection-delButton {
    background: #ec5050!important;
    color: #fff;
    border-radius: 2px;
    margin-right: 10px;
}

.button-visual {
    background: none!important;
    padding: 0.5rem 1.33rem!important;
}

.button-visual .content-visual {
    color: #fff;
    font-size: 14px;
}

.general-field-panel {
    margin-bottom: 10px!important;
    padding: 16px;
}

.general-field-titleLabel {
    font-weight: bold;
}

.general-field-editButton {
    background: rgb(42 186 172) !important;
    margin-right: 10px;
    border-radius: 2px;
}

.general-detail-cancelButton {
    background: #b5b5b5;
    border-radius: 2px;
}

.general-detail-addButton {
    background: orange;
    border-radius: 2px;
}

.general-detail-addButton::after {
    border-bottom: 1px solid #eee!important;
}

.general-detail-selection-addButton {
    background: orange;
    border-radius: 4px;
    margin: 0 10px;
}

.general-field-editArea {
    margin-top: 14px;
}

.general-detail-titleTextBox input {
    color: #333 !important;
}

.general-detail-titleTextBox::after {
    display: inline-block;
    content: '提示：标题可编辑';
    color: #ed1616;
    font-size: 12px;
}

.inputtext-visual {
    font-size: 14px!important;
    color: #999;
}

.label-visual .content-visual {
    font-size: 14px!important;
    color: #333!important;
}

.inputtext-visual {
    color: #999!important;
}

.query-delete-buttonContainer {
    text-align: center;
    border: none!important;
    margin-top: 20px;
}

.query-save-notSaveButton {
    background: #27bae2;
    border-radius: 2px;
    margin-right: 10px;
}

.form-previewButton {
    background: rgb(155 33 237) !important;
    border-radius: 2px;
}

.form-publishButton {
    background: #005fea !important;
    border-radius: 2px;
}

.query-delete-textLabel {
    margin: 20px 0 0 20px;
}

.by-user-loginButton {
    position: absolute;
    left: 100px!important;
    background: rgb(69 149 255) !important;
    border-radius: 2px;
}

.by-user-registButton {
    position: absolute;
    left: 190px!important;
    background: rgb(255 97 69) !important;
    border-radius: 2px;
}

.general-field-template-inner-label {
    padding-left: 20px!important;
    height: 42px!important;
}

.query-dialog {
    text-align: center;
}

div[data-by-prop="textLabel"] {
    margin-top: 20px;
}

.list-visual {
    background: #e0e8f3!important;
    border: none!important;
}


/* 新建表单 */

.forms-add-form-button {
    background: #0865FF;
    border-radius: 4px;
    margin-top: 20px;
    width: 100%!important;
    height: 42px;
}

.by-dialog-title::after:hover {
    content: "双击放大或缩小" !important;
    left: calc(100% - 128px) !important;
    position: absolute !important;
    top: 10px !important;
    color: rgba(14, 45, 95, 0.61) !important;
    font-weight: 600 !important;
    font-size: 13px !important;
}

div[data-title="左侧操作栏"] {
    float: left;
    width: 10%;
    margin-right: 1%;
    overflow-x: hidden;
}

div[data-title="中间的整个面板"] {
    width: 49%!important;
    background: #f5f5f5;
}

div[data-title="表单展示栏"] {
    float: left;
    width: 86%;
    overflow-x: hidden;
}

.forms-list-header {
    font-weight: bold;
    margin: 20px 0 10px 0;
    font-size: 20px;
}

.form-fieldDetail-container {
    height: 100%!important;
}

.forms-list-label:hover {
    background: none!important;
}

.forms-list-panel {
    box-shadow: 0px 0px 8px rgb(186 186 186 / 30%);
    padding: 10px!important;
}

.form-item-operateArea {
    border: 1px solid #eee !important;
    padding-bottom: 10px !important;
    margin-bottom: 10px;
    border-top: none !important;
}

div[data-title="注册"] {
    background: #ffa70e !important;
    border-radius: 2px;
}

div[data-title="取消"] {
    background: #b5b5b5!important;
    border-radius: 2px;
    margin-left: -20px;
}

div[data-title="确认修改"] {
    background: rgb(69 149 255) !important;
    border-radius: 2px;
    margin-left: -20px;
}

div[data-title="确认"] {
    background: rgb(69 149 255) !important;
    border-radius: 2px;
}

.form-item-name-valueLabel label {
    padding: 0.27rem 0.4rem 0 !important;
}

.form-item-statePanel {
    float: right;
}

.form-item-statePanel .form-item-dateLabel label span {
    color: #666!important;
    font-size: 14px!important;
}

.form-item-name-valueLabel {
    display: flex!important;
    justify-content: space-between;
    float: left;
}

.form-item-name-valueLabel label span {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    border-bottom: 2px solid #0B7DFF;
    padding-bottom: 8px;
}

.form-create-headPanel {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd !important;
    font-size: 20px;
    font-weight: bold;
}

.form-create-headPanel label {
    padding: 0.27rem 0.4rem 0!important;
}

.form-create-headPanel span {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    border-bottom: 2px solid #0B7DFF;
    padding-bottom: 5px;
}

.button-visual {
    border: none!important;
}

.form-item-editButton::after {
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background: url(image/edit_icon.svg) no-repeat 0px 0px;
    margin-top: -23px;
}

.form-item-sendButton:after {
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background: url(image/release_icon.svg) no-repeat 0px 0px;
    margin-top: -23px;
}

.form-item-deleteButton:after {
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background: url(image/delete_icon.svg) no-repeat 0px 0px;
    margin-top: -23px;
}

.form-item-statisticsButton:after {
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background: url(image/result_icon.svg) no-repeat 0px 0px;
    background-size: cover;
    margin-top: -23px;
}

.form-item-viewResultButton {
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background: url(image/answer_icon.svg) no-repeat 0px 0px;
    margin-top: -23px;
}

.form-item-infoArea {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd!important;
    text-indent: 5px;
}

.general-detail-titleEditor {
    margin-bottom: 10px;
}

.general-field-coreControl textarea {
    border: 1px solid #c6c6c6;
}

.general-field-coreControl textarea:focus {
    outline: none!important;
}

.general-field-coreControl input {
    border: 1px solid #c6c6c6;
}


/* home css */

.w {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    margin-top: 8px;
}

.header {
    height: 72px;
    line-height: 72px;
    box-shadow: 0 .05rem 0.05rem rgba(0, 0, 0, .08);
    text-align: center;
}

.nav {
    margin-left: 5%;
}

.nav a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 600;
    height: 72px;
    display: inline-block;
}

.nav a:hover {
    color: #007aff;
    border-bottom: 2px solid #007aff;
}

.login {
    display: flex;
}

.login a:nth-child(1) {
    color: #333;
    text-decoration: none;
}

.login a:nth-child(1)::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background: url(image/downIcon.svg) no-repeat;
    background-size: cover;
    vertical-align: middle;
}

.login a:nth-child(1):hover,
.login a:nth-child(2):hover {
    color: #007aff;
}

.login a:nth-child(2) img {
    vertical-align: middle;
    margin-right: 4px;
}

.login a:nth-child(2) {
    vertical-align: middle;
    margin-right: 4px;
    color: #333;
    text-decoration: none;
    margin-left: 20px;
}

.login a:nth-child(3) {
    background: linear-gradient(135deg, #3ea9ff, #0b7dff);
    margin-right: 20px;
    color: #fff;
    text-align: center;
    width: 120px;
    height: 36px;
    display: block;
    border-radius: 4px;
    line-height: 36px;
    text-decoration: none;
    margin-top: 16px;
    margin-left: 20px;
}

.byBanner {
    height: 460px;
    background: url(../image/banner.jpg) no-repeat center center;
    background-size: cover;
}

.byBanner h2 {
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 180px;
    left: 380px;
    letter-spacing: 4px;
}

.content {
    margin-top: 50px;
}

.content .title {
    margin: 50px 0;
}

.content h2 {
    font-size: 28px;
    color: #333;
    font-weight: 500;
    line-height: 38px;
    margin: 0;
}

.content .wrap p {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 50px;
}

.list ul {
    display: flex;
    justify-content: space-between;
}

.list ul li {
    list-style-type: none;
    border-right: 1px solid #eee;
    padding: 40px 20px;
    margin-bottom: 30px;
    height: 200px;
    flex: 1;
    margin-right: 20px;
    background-image: linear-gradient(0deg, #fff, #f3f5f8);
    border: 2px solid #fff;
    box-shadow: 8px 8px 20px 0 rgba(55, 99, 170, .1), -8px -8px 20px 0 #fff;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.list ul li:hover {
    background: #f3f5f8;
    box-shadow: inset 8px 8px 20px 0 rgba(55, 99, 170, .11), inset -8px -8px 20px 0 #fff;
}

.content .list p {
    font-size: 16px;
}

.zd {
    position: relative;
    height: 240px;
    width: 100%;
    background: url(image/zd-bg.jpg) no-repeat -250px bottom;
    background-size: cover;
    margin-top: 50px;
}

.zd h2 {
    position: absolute;
    top: -20px;
    left: 340px;
    padding-top: 120px;
    color: #fff;
    font-size: 32px;
}

.lineuser {
    height: 260px;
    background: #edeff3;
}

.pic {
    position: absolute;
    top: -90px;
    right: 0;
    width: 320px;
    height: 340px;
    background: url(image/jsimg.png) no-repeat;
    background-size: cover;
}

.lineuser h2 {
    margin: 100px 0 30px;
    font-size: 28px;
}

.byBanner {
    position: relative;
}

.byBanner .btn {
    position: absolute;
    top: 180px;
    left: 20px;
    width: 260px;
}

.lineuser .btn {
    width: 260px;
}

.byBanner .btn a {
    display: block;
    background: linear-gradient(135deg, #ffa443, #fb6d1b);
    /* background: linear-gradient(135deg, #8899ff, #342aff); */
    border-radius: 4px;
    padding: 16px 40px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 20px 0;
}

.lineuser .btn a {
    display: block;
    /* background: linear-gradient(135deg, #3ea9ff, #0b7dff); */
    background: linear-gradient(135deg, #8899ff, #342aff);
    border-radius: 4px;
    padding: 16px 40px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 20px 0;
}


/* 用户样式 */

.by-bar ol {
    height: 72px;
    background: none !important;
}

.by-bar ol li:hover {
    height: 72px;
    background: none !important;
}

.by-basecontextmenulist li[data-by-type="MenuItem"] {
    height: 42px !important;
    overflow-y: hidden !important;
}

.list-visual.by-basecontextmenulist {
    width: fit-content;
    min-width: 5rem;
    height: fit-content;
    display: grid;
    position: absolute;
    padding: 4px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: max-content;
    background: #fff !important;
}

.by-basecontextmenulist li[data-by-type="MenuItem"]:hover {
    background: #EAF2FF!important;
}

.form-create-summaryLabel label span {
    width: 57px;
}

div[data-by-type="TextBox"] input {
    color: #333 !important;
}

.index-user-MenuBar li:nth-child(2) span,
.index-user-MenuBar li:nth-child(3) span {
    color: #007aff!important;
}

.index-user-MenuBar li:nth-child(2) span::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background: url(image/allform.svg) no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin-right: 3px;
}

.index-user-MenuBar li:nth-child(3) span::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background: url(image/newform.svg) no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin-right: 3px;
}

div[data-by-type="ImageVisual"] {
    background: green;
}