﻿.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 72px;
    line-height: 72px;
    box-shadow: 0 .05rem 0.05rem rgba(0, 0, 0, .08);
    margin: 0 auto 20px;
}

.results-summary-label {
    border-bottom: 1px dashed #acacac !important;
    margin-top: 20px;
}

.login a {
    color: #0B7DFF;
    text-decoration: none;
}

.results-panel {
    width: 80%;
    margin: 0 auto;
}

.result-panel {
    background: #f5f5f5;
    margin: 14px 0;
    padding: 0 20px;
}

.result-panel:hover {
    border: 1px solid #b4b4b4;
}

.results-title-label {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.results-title-label label {
    padding-bottom: 0!important;
}

.results-title-label span {
    margin: 0 auto;
    border-bottom: 2px solid #0B7DFF;
    font-size: 18px !important;
    padding: 10px 10px 0;
}

.results-summary-label span {
    margin: 0 auto;
    padding: 5px 0;
}

div[data-by-type="Panel"] {
    margin-bottom: 14px;
}

.result-head-label span {
    color: #0B7DFF;
}