﻿<div data-by-type="byUser.dialog.user$RetrievePassword" data-title="重设密码找回窗体">
    <div data-by-type="Label" data-by-prop="cLblSafetyCode" data-title="安全码"></div>
    <div data-by-type="TextBox" data-by-prop="cTxtSafetyCode" data-title="安全码"></div>
    <div data-by-type="Label" data-by-prop="cLblPassword" data-title="新密码"></div>
    <div data-by-type="TextBox" data-by-prop="cTxtPassword" data-title="新密码"></div>
    <div data-by-type="Label" data-by-prop="cLblConfirmPassword" data-title="再次确认"></div>
    <div data-by-type="TextBox" data-by-prop="cTxtConfirmPassword" data-title="再次确认"></div>
    <div data-by-type="Button" data-by-prop="cBtnSure" data-title="确认修改"></div>
    <div data-by-type="Button" data-by-prop="cBtnCancel" data-title="取消"></div>
</div>