﻿<div data-by-type="byBase.dialog.bridge$manage" data-title="中间表管理">
    <div data-by-type="Grid" data-by-prop="cGridLeft" data-title="网格左"></div>
    <div data-by-type="Grid" data-by-prop="cGridRight" data-title="网格右"></div>
    <div data-by-type="Button" data-by-prop="cBtnModif" data-title="修改"></div>
    <div data-by-type="Button" data-by-prop="cBtnDelete" data-title="删除"></div>
</div>