﻿<div data-by-type="byForm.dialog.form$formCreateDialog" data-title="创建新表单的弹窗">
    <div data-by-type="Panel" data-by-prop="headPanel" data-title="标题面板"></div>
    <div data-by-type="Label" data-by-prop="headLabel" data-title="标题标签"></div>
    <div data-by-type="Panel" data-by-prop="bodyPanel" data-title="主体面板"></div>
    <div data-by-type="Panel" data-by-prop="contentPanel" data-title="内容面板"></div>
    <div data-by-type="Panel" data-by-prop="namePanel" data-title="表单标题名称面板"></div>
    <div data-by-type="Label" data-by-prop="nameLabel" data-title="表单标题名称标签"></div>
    <div data-by-type="TextBox" data-by-prop="nameInputBox" data-title="表单标题名称输入"></div>
    <div data-by-type="Panel" data-by-prop="summaryPanel" data-title="表单说明面板"></div>
    <div data-by-type="Label" data-by-prop="summaryLabel" data-title="表单说明标签"></div>
    <div data-by-type="TextBox" data-by-prop="summaryInputBox" data-title="表单说明输入"></div>
    <div data-by-type="Panel" data-by-prop="buttonContainer" data-title="按键容器"></div>
    <div data-by-type="Button" data-by-prop="createButton" data-title="创建-按钮"></div>
    <div data-by-type="Button" data-by-prop="cancelButton" data-title="取消-按钮"></div>
</div>