<div data-by-type="byForm.dialog.form$formsManager" data-title="管理用户的所有表单">
    <div data-by-type="Panel" data-by-prop="mainPanel" data-title="容纳全部的面板"></div>
    <div data-by-type="Panel" data-by-prop="operateArea" data-title="左侧操作栏"></div>
    <div data-by-type="Panel" data-by-prop="displayArea" data-title="表单展示栏"></div>
    <div data-by-type="Panel" data-by-prop="formsHeader" data-title="表单列表标题栏"></div>
    <div data-by-type="Label" data-by-prop="formListLabel" data-title="表单列表标签"></div>
    <div data-by-type="Panel" data-by-prop="formListPanel" data-title="表单列表"></div>
    <div data-by-type="Button" data-by-prop="createFormButton" data-title="创建表单键"></div>
</div>