<div data-by-type="byForm.dialog.form$queryDeleteDialog" data-title="询问是否删除的弹窗">
    <div data-by-type="Label" data-by-prop="textLabel"></div>
    <div data-by-type="Panel" data-by-prop="buttonContainer"></div>
    <div data-by-type="Button" data-by-prop="deleteButton"></div>
    <div data-by-type="Button" data-by-prop="cancelButton"></div>
</div>