﻿<div data-by-type="byCommon.dialog.relatedDialog$notice" data-title="弹窗显示类似一个公告，仅即时展示一条信息">
    <div data-by-type="Panel" data-by-prop="lblTitle" data-title="标题"></div>
    <div data-by-type="Panel" data-by-prop="lblContent" data-title="内容"></div>
</div>