﻿<div data-by-type="byBase.dialog.Tree$popup" data-title="弹窗选择多行或一行">
    <div data-by-type="QueryArea" data-by-prop="cMQueryArea" data-title="查询区"></div>
    <div data-by-type="Button" data-by-prop="cBtnQuery" data-title="检索"></div>
    <div data-by-type="Tree" data-by-prop="cTree" data-title="表格网格控件"></div>
    <div data-by-type="Button" data-by-prop="cBtnComplete" data-title="完成"></div>
</div>