<div data-by-type="byBase.dialog.dic$manage" data-title="字典表">
    <div data-by-type="Grid" data-by-prop="cGrid" data-title="字典网格控件"></div>
    <div data-by-type="Button" data-by-prop="cBtnQuery" data-title="检索"></div>
    <div data-by-type="Button" data-by-prop="cBtnAdd" data-title="增加"></div>
    <div data-by-type="Button" data-by-prop="cBtnDelete" data-title="删除"></div>
    <div data-by-type="Button" data-by-prop="cBtnModify" data-title="修改"></div>
    <div data-by-type="Button" data-by-prop="cBtnSave" data-title="保存"></div>
    <div data-by-type="Button" data-by-prop="cBtnCancel" data-title="取消"></div>
    <div data-by-type="QueryArea" data-by-prop="cQueryArea" data-title="查询区"></div>
    <div data-by-type="EditArea" data-by-prop="cEditArea" data-title="编辑区"></div>
</div>