<div data-by-type="byBase.dialog.Tree$manage" data-title="树管理">
    <div data-by-type="Tree" data-by-prop="cTree" data-title="树控件"></div>
    <div data-by-type="EditArea" data-by-prop="cEditArea" data-title="编辑区"></div>
    <div data-by-type="Button" data-by-prop="cBtnAdd" data-title="增加"></div>
    <div data-by-type="Button" data-by-prop="cBtnDelete" data-title="删除"></div>
    <div data-by-type="Button" data-by-prop="cBtnModify" data-title="修改"></div>
    <div data-by-type="Button" data-by-prop="cBtnSave" data-title="保存"></div>
    <div data-by-type="Button" data-by-prop="cBtnCancel" data-title="取消"></div>
</div>