<div data-by-type="byCommon.dialog.relatedDialog$popupList" data-title="请选择列表,展示一个选择列表">
    <div data-by-type="Grid" data-by-prop="cGrid" data-title="要显示的网格控件"></div>
    <div data-by-type="Button" data-by-prop="cBtnOk" data-title="确认"></div>
    <div data-by-type="Button" data-by-prop="cBtnCancel" data-title="取消"></div>
</div>