<div data-by-type="byCommon.dialog.relatedDialog$popupTextbox" data-title="请选择,展示一个文本框">
    <div data-by-type="Label" data-by-prop="cLblTitle" data-title="标题"></div>
    <div data-by-type="TextBox" data-by-prop="cContent" data-title="内容"></div>
    <div data-by-type="Button" data-by-prop="cBtnOk" data-title="确认"></div>
    <div data-by-type="Button" data-by-prop="cBtnCancel" data-title="取消"></div>
</div>