﻿<div data-by-type="byUser.dialog.userAdmin$adminManager" data-title="管理员管理窗体">
    <div data-by-type="Grid" data-by-prop="cGrid"></div>
    <div data-by-type="Button" data-by-prop="cBtnAdd" data-title="确认加入"></div>
    <div data-by-type="Button" data-by-prop="cBtnDelete" data-title="确认删除"></div>
</div>