<div data-by-type="byUser.dialog.user$diLogin" data-title="登录窗体">
    <div data-by-type="Label" data-by-prop="cLblName" data-title="用户名"></div>
    <div data-by-type="TextBox" data-by-prop="cTxtName" data-title="用户名"></div>
    <div data-by-type="Label" data-by-prop="cLblPwd" data-title="密码："></div>
    <div data-by-type="TextBox" data-by-prop="cTxtPwd" data-title="密码"></div>
    <div data-by-type="Button" data-by-prop="cBtnLogin" data-title="登录"></div>
    <div data-by-type="Button" data-by-prop="cBtnReg" data-title="注册"></div>
    <div data-by-type="Label" data-by-prop="cLblFindPwd" data-title="找回密码"></div>
</div>