<div data-by-type="byUser.dialog.user$diUserReg" data-title="用户注册窗体">
    <div data-by-type="Label" data-by-prop="cLblName" data-title="用户名"></div>
    <div data-by-type="TextBox" data-by-prop="cTxtName" data-title="用户名"></div>
    <div data-by-type="Label" data-by-prop="cLblPwd" data-title="密码"></div>
    <div data-by-type="TextBox" data-by-prop="cTxtPwd" data-title="密码"></div>
    <div data-by-type="Label" data-by-prop="cLblConfirmPwd" data-title="再输入一遍"></div>
    <div data-by-type="TextBox" data-by-prop="cTxtConfirmPwd" data-title="再输入一遍"></div>
    <div data-by-type="Label" data-by-prop="cLblMobile" data-title="手机"></div>
    <div data-by-type="TextBox" data-by-prop="cTxtMobile" data-title="手机"></div>
    <div data-by-type="Label" data-by-prop="cLblMail" data-title="邮箱"></div>
    <div data-by-type="TextBox" data-by-prop="cTxtMail" data-title="邮箱"></div>
    <div data-by-type="Label" data-by-prop="cLblSafetyCode" data-title="安全码"></div>
    <div data-by-type="TextBox" data-by-prop="cTxtSafetyCode" data-title="安全码"></div>
    <div data-by-type="Label" data-by-prop="cLblSendCode" data-title="发送安全码"></div>
    <div data-by-type="Button" data-by-prop="cBtnReg" data-title="注册"></div>
    <div data-by-type="Button" data-by-prop="cBtnCancel" data-title="取消"></div>
</div>