<div data-by-type="byUser.dialog.user$diModifPwd" data-title="密码修改窗体">
    <div data-by-type="Label" data-by-prop="cLblSourcePwd" data-title="原密码"></div>
    <div data-by-type="TextBox" data-by-prop="cTxtSourcePwd" data-title="原密码"></div>
    <div data-by-type="Label" data-by-prop="cLblNewPwd" data-title="新密码"></div>
    <div data-by-type="TextBox" data-by-prop="cTxtNewPwd" data-title="新密码"></div>
    <div data-by-type="Label" data-by-prop="cLblConfirmNewPwd" data-title="确认密码"></div>
    <div data-by-type="TextBox" data-by-prop="cTxtConfirmNewPwd" data-title="确认密码"></div>
    <div data-by-type="Button" data-by-prop="cBtnSure" data-title="确认"></div>
    <div data-by-type="Button" data-by-prop="cBtnCancel" data-title="取消"></div>
</div>